<%= form_for(@budget) do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% @budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :year %><br>
    <%= f.date_select :year, discard_month: true, discard_day: true %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %><!--allow absolute value only -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
