<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <!-- Drop budget_year_choices down in form to set the year in purchase date. Doesn't exist -> enter new budget... -->
  <!-- <div class="field">
    <%# f.label :budget_year %><br>
    <%# f.date_select :budget_year_choices %>
  </div> -->
  <div class="field">
    <%= f.label :purchase_date %><br>
    <%= f.date_select :purchase_date %> <!-- how to create select for only date and day? -->
  </div>
  <!-- <div class="field"> Purchases only have recipient association once they are gifted...this schema sucks
    <%# f.label :recipient %><br>
    <%# f.collection_select :recipient_id, recipients, :id, :name, include_blank: true %>
  </div> -->
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :vendor %><br>
    <%= f.text_field :vendor %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :tracking_num %><br>
    <%= f.text_field :tracking_num %>
  </div>
  <div class="field">
    <%= f.label :bought %><br>
    <%= f.check_box :bought %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>Add back in person to assign gift?</p>
