
<h1>Purchases for the ** <%= current_year %> ** Season</h1>

<table class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= link_to 'Item',            :sort => "item" %></th>
        <th>Url</th>
        <th><%= link_to 'Vendor',          :sort => "vendor" %></th>
        <th><%= link_to 'Cost',            :sort => "cost" %></th>
        <th><%= link_to 'Tracking number', :sort => "tracking_num" %></th>
        <th><%= link_to 'Bought?',         :sort => "bought" %></th>
        <th><%= link_to 'Purchase Date',   :sort => "purchase_date" %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.item %></td>
          <td><%= purchase.url %></td>
          <td><%= purchase.vendor %></td>
          <td><%= purchase.cost %></td>
          <td><%= purchase.tracking_num %></td>
          <td><%= purchase.bought %></td>
          <td><%= purchase.purchase_date.strftime("%B %d, %Y") %></td>
          <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
