
<h1>Purchases(current view for Costs)</h1>

<table class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Url</th>
        <th>Vendor</th>
        <th>Cost</th>
        <th>Tracking num</th>
        <th>Bought?</th>
        <th>Date of Purchase</th>
        <th>Season</td>
        <th>Recipient</td>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.item %></td>
          <td><%= purchase.url %></td>
          <td><%= purchase.vendor %></td>
          <td><%= purchase.cost %></td>
          <td><%= purchase.tracking_num %></td>
          <td><%= purchase.bought %></td>
          <td><%= purchase.purchase_date.strftime("%B %d") %></td>
          <td><%= purchase.purchase_date.strftime("%Y") %></td>
          <td><%= purchase.recipient_id %></td>
          <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
          <td><%= link_to 'Delete', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
