
<h1>Purchases for the ** <%= current_year %> ** Season</h1>

<table class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Url</th>
        <th>Vendor</th>
        <th>Cost</th>
        <th>Tracking num</th>
        <th>Bought?</th>
        <th>Date of Purchase</th>
        <th>Recipient</td>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.item %></td>
          <td><%= purchase.url %></td>
          <td><%= purchase.vendor %></td>
          <td><%= purchase.cost %></td>
          <td><%= purchase.tracking_num %></td>
          <td><%= purchase.bought %></td>
          <td><%= purchase.purchase_date.strftime("%B %d, %Y") %></td>
          <td><%= purchase.user.first %> fix this</td> <!--user first is NAME Joanne, needs to be recipient.first (name)-->
          <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
