<p id="notice"><%= notice %></p>

<h1>Recipients</h1>

<table class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Age</th>
        <th>Size</th>
        <th>Notes</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipients.each do |recipient| %>
        <tr>
          <td><%= recipient.first %></td>
          <td><%= recipient.last %></td>
          <td><%= recipient.age %></td>
          <td><%= recipient.size %></td>
          <td><%= recipient.notes %></td>
          <td><%= link_to 'Show gifts', recipient %></td>
          <td><%= link_to 'Edit recipient', edit_recipient_path(recipient) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>

<br>

<%= link_to 'New Recipient', new_recipient_path %>
