<h3> recipient show page all purchases assigned to recipient? </h3>
<p>
  <strong>Age:</strong>
  <%= @recipient.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @recipient.size %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @recipient.notes %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipient.full_name %>
</p>

<p>
  <strong>Already bought:</strong>
</p>
<p>
  <!--these should be where bought : true)-->
<% @recipient.purchases.each do |purchased_gift| %>
  <%= purchased_gift.item %>
  <% end %>
</p>

<%= link_to 'Edit recipient info', edit_recipient_path(@recipient) %> |
<%= link_to 'Back to List', recipients_path %>
