<h1>Welcome to the Family Christmas List app, <%= current_user.first %>.</h1>
<h4>Please
  <%= select(:budget, :budget_id, Budget.budget_year_choices(current_user), {:prompt => "Select a season"}, {id:'set_year'} ) %> to view

  <br>
  The budget for current_year(chosen_year) was/is: $ <%= Budget.budget(current_user) unless nil %>
  <br>
  <br>
  To begin a new season, go to <%= link_to "Enter a budget", new_budget_path %>
  <br>
  <br>
  <!-- send current_year as second argument -->
  You have spent $<%= total_amt_paid(current_user) %> on <%= total_number_paid(current_user) %>
  gift(s) this season. (showing all current_user purchases - filter by season/year)
  <br>
  You have <%= total_number_unpaid(current_user) %> gift(s) on this season's list you haven't bought yet:
  <ul>
    <% current_user.purchases.where(bought: false).each do |unbought_gift| %>
    <br>
    <li><%= unbought_gift.item %> for <%= unbought_gift.recipient_id %></li> (change this to full_name)
    <% end %>
  </ul>
  <br>
  <br>
  <!--show purchases limited to current_year -->
  See <%= link_to 'Purchases', purchases_path  %> this season. (filter by season/year)
  <br>
  See <%= link_to 'Clans', clans_path %> you belong to.
</h4>


<br>
<!-- stats here? -->
to-do<br>
chartkick purchases by recipient <br>

link_to view your wishlist
