<h1>Welcome to the Family Christmas List app, <%= current_user.first %>.</h1>
<h3>Please select a year to view
  <%= form_tag do %>
  <%= select_year(Date.today, start_year: 2015, end_year: 2020) %>
  <% end %> </h3>
<h4>
  Your <em><%= "^year selected from dropdown" %></em> budget is: $<%= current_user.budget %>
  <br>
  <!-- need to set the current_year then see only those purchases with purchase_date -->
  You have spent $<%= total_paid(current_user) %> on <%= total_purchases(current_user) %> gift(s) this season.
  <br>
  <!--show purchases limited to current_year -->
  See <%= link_to 'Purchases', purchases_path  %> this (current_year) season.
  See <%= link_to 'Clans', clans_path %> you belong to.
</h4>


<br>
<!-- stats here? -->
chartkick purchases by recipient
