<h1>Welcome to the <%= Time.now.year %> Christmas Season, <%= current_user.first %></h1>


<h4>Your budget is: $<%= current_user.budget %><br>
You have spent $<%= total_paid(current_user) %> on <%= total_purchases(current_user) %> gifts.

Purchases this season:



</h3>
<!--list Clans -->

<!-- stats here? -->
