<div class="row">
  <h1>Welcome to the Family Christmas List app, <%= current_user.first %>.</h1>
  <h3> <%= Home.days_until_christmas %> </h3>
  <h4>Please
    <!-- Hide this section once current_year is set, and add button to "go to a new season"-->
    <%= select(:budget, :budget_id, budget_year_choices, {:prompt => "Select a season"}, {id:'set_year'} ) %> to view
## currently able to add new purchase before creating a budget for that year - fix ##
    <br>
    <!-- Show next line only when budget_year_choices is populated   -->
    The budget for <%= current_year %> was/is: $ <%= Budget.current_year_budget_amount(current_user, current_year) unless nil %>
    <br>
    <br>
    To begin a new season, go to <%= link_to "Enter a budget", new_budget_path %>
    <br>
    <br>
    <!-- send current_year as second argument -->
  You have spent $<%= total_amt_paid %> on <%= total_number_paid %>
    gift(s) this season.
    <br>
    <br>

  You still haven't bought:
  <br>
    <ul>
      <li>list item1</li>
      <li>list item2</li>
    </ul>

    You have <%= total_number_unpaid %> gift(s) on this season's list you haven't bought yet:
    <ul>
      <% @unbought_purchases.each do |p| %>
      <br>
      <li><%= p.item %> for <%= p %></li> <!-- if p.recipient.exists? no recip association anymore on purchase -->
      <% end %>
    </ul>
    <br>
    <br>
    See <%= link_to 'Purchases', purchases_path  %> this season.
    <br>
    See <%= link_to 'Clans', clans_path %> you belong to.
  </h4>


  <br>
  <!-- stats here? -->
</div>
